@using JobAdderHomework.Areas.Jobs.Models
@model JobMatcherModel

@{
    ViewBag.Title = "Find a match";
}

<h2>@ViewBag.Message</h2>
<p>@Model.JobName</p>
<p>@Model.CompanyName</p>
<p>@Model.Skills</p>
<p>@(Model.Candidate?.Name)</p>
<p>@(Model.Candidate?.Skills)</p>
